# A name for this Docker Compose application, it can be whatever you like
COMPOSE_PROJECT_NAME=jupyterhub

# The server where this JupyterHub server is hosted
HOST=localhost

# Google OAuth settings
GOOGLE_CLIENTID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=

# Persistence
DOCKER_NOTEBOOK_DIR=/home/jovyan/work
# Data repository
DATA_SOURCE=/path/to/data
DATA_TARGET=/data
# Examples
EXAMPLES_SOURCE=/path/to/examples
EXAMPLES_TARGET=/home/jovyan/work/examples

